{% extends "base.html" %}

{% block title %}Gerätedetails{% endblock %}

{% block content %}

<div class="box">
    <h2>Gerätedetails</h2>
    <p>
        <a href="/geraete">← Zurück zur Geräteliste</a>
        |
        <a href="/geraet/{{ geraet['id'] }}/bearbeiten">Gerät bearbeiten</a>
    </p>
</div>

<div class="box">
    <h3>{{ geraet["name"] }}</h3>

    <table class="inventar-tabelle">
        <tr>
            <th>Feld</th>
            <th>Wert</th>
        </tr>
        <tr>
            <td>Interne Nummer</td>
            <td>{{ geraet["interne_nummer"] }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ geraet["name"] }}</td>
        </tr>
        <tr>
            <td>Kategorie</td>
            <td>{{ geraet["kategorie"] }}</td>
        </tr>
        <tr>
            <td>Fahrzeug / Bereich</td>
            <td>{{ geraet["fahrzeug"] }}</td>
        </tr>
        <tr>
            <td>Fachnummer</td>
            <td>{{ geraet["fachnummer"] }}</td>
        </tr>
        <tr>
            <td>Prüfdatum</td>
            <td>{{ geraet["pruefdatum"] }}</td>
        </tr>
        <tr>
            <td>Ablaufdatum</td>
            <td>{{ geraet["ablaufdatum"] }}</td>
        </tr>
        <tr>
            <td>Prüfstatus</td>
            <td>{{ geraet["pruefstatus"] }}</td>
        </tr>
        <tr>
            <td>Prüfstelle</td>
            <td>{{ geraet["pruefstelle"] }}</td>
        </tr>
        <tr>
            <td>Prüfauftrag Datum</td>
            <td>{{ geraet["pruefauftrag_datum"] }}</td>
        </tr>
        <tr>
            <td>Anzahl</td>
            <td>{{ geraet["anzahl"] }}</td>
        </tr>
        <tr>
            <td>Hersteller</td>
            <td>{{ geraet["hersteller"] }}</td>
        </tr>
        <tr>
            <td>Barcode</td>
            <td>{{ geraet["barcode"] }}</td>
        </tr>
        <tr>
            <td>Bemerkung</td>
            <td>{{ geraet["bemerkung"] }}</td>
        </tr>
    </table>
</div>

<div class="box">
    <h3>Prüfprotokolle</h3>

    {% if protokolle %}
        <div class="table-wrapper">
            <table class="inventar-tabelle">
                <tr>
                    <th>Prüfdatum</th>
                    <th>Ablaufdatum</th>
                    <th>Prüfschema</th>
                    <th>Prüfstelle</th>
                    <th>Ergebnis</th>
                    <th>Bemerkung</th>
                    <th>PDF</th>
                    <th>Details</th>
                </tr>

                {% for protokoll in protokolle %}
                <tr>
                    <td>{{ protokoll["pruefdatum"] }}</td>
                    <td>{{ protokoll["ablaufdatum"] }}</td>
                    <td>{{ protokoll["schema_name"] }}</td>
                    <td>{{ protokoll["pruefstelle"] }}</td>
                    <td>{{ protokoll["ergebnis"] }}</td>
                    <td>{{ protokoll["bemerkung"] }}</td>
                    <td>
                        {% if protokoll["pdf_dateiname"] %}
                             <a href="{{ url_for('pruefprotokoll_pdf_oeffnen', id=protokoll['id']) }}" target="_blank">
                                PDF öffnen
                             </a>
                        {% else %}
                            Noch kein PDF
                        {% endif %}
                    </td>
                    <td>
                         <a href="{{ url_for('pruefprotokoll_detail', id=protokoll['id']) }}">
                             Öffnen
                         </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>Noch keine Prüfprotokolle vorhanden.</p>
    {% endif %}
</div>
<div class="box">
    <h3>Platzhalter für spätere Erweiterungen</h3>
    <p>Hier können später ergänzt werden:</p>
    <ul>
        <li>Bild des Geräts</li>
        <li>Prüfprotokolle</li>
        <li>weitere technische Daten</li>
    </ul>
</div>

{% endblock %}
